@font-face {
  font-family: Blinker;
  src: url(../src/fonts/Blinker-Regular.ttf);
}
@tailwind utilities;
@import "tailwindcss";
@theme {
  --color-branco: oklch(100% 0 0);
  --color-fonte-clara: oklch(97.03% 0.0103 247.93);
  --color-fonte-escura: oklch(64.73% 0.0177 285.9);
  --color-azul-escuro: oklch(38.5% 0.13 260.5);
  --color-azul-claro: oklch(76.89% 0.22 233.14);
  --color-navbar: oklch(10.39% 0.0194 248.34);
  --color-dourado: oklch(76.5% 0.18 70);
  --color-fundo: oklch(17.63% 0.014 258.36);
  --color-hover: oklch(29.16% 0.0202 260.62);
  --color-borda: oklch(38.37% 0.0179 254.74);
  --color-vermelho-claro: oklch(71.66% 0.1758 18.47);
  --color-preto: oklch(0% 0 0);
  --color-verde-claro: oklch(0.78 0.1318 144.18);
  --font-blinker: Blinker, "sans-serif";
}
/* oculta a barra de scroll da area de membros/staff/times */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* Para o Internet Explorer */
  scrollbar-width: none; /* Para o Firefox */
}
/* Definição da animação */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicando a animação */
.animation {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}

@keyframes rodar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Uma volta completa */
  }
}

/* Adicione ao seu arquivo de estilos */
.absolute.top-0.right-0 {
  transform: translate(50%, -50%);
}
