@font-face {
  font-family: Blinker;
  src: url(../src/fonts/Blinker-Regular.ttf);
}

@import "tailwindcss";
@theme {
  --color-branco: oklch(100% 0 0);
  --color-fonte-clara: oklch(97.03% 0.0103 247.93);
  --color-fonte-escura: oklch(64.73% 0.0177 285.9);
  --color-azul-escuro: oklch(18.1% 0.19 212.7);
  --color-azul-claro: oklch(76.89% 0.22 233.14);
  --color-navbar: oklch(10.39% 0.0194 248.34);
  --color-fundo: oklch(17.63% 0.014 258.36);
  --color-hover: oklch(29.16% 0.0202 260.62);
  --color-borda: oklch(38.37% 0.0179 254.74);
  --color-vermelho-claro: oklch(71.66% 0.1758 18.47);
  --color-preto: oklch(0% 0 0);
  --font-blinker: Blinker, "sans-serif";
}
/* oculta a barra de scroll da area de membros/staff/times */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* Para o Internet Explorer */
  scrollbar-width: none; /* Para o Firefox */
}
/* Definição da animação */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicando a animação */
.animation {
  animation: fadeInUp 1s ease-out forwards;
}
